
footer {
    background: var(--dark);
    color: var(--pure);
    height: 200px;
    position: relative;
  }
  .footer-div {
    position: absolute;
    top: 50px;
    left: 40%;
  }
  
  .footer-div p {
    font-size: 1.4rem;
  }