.container {
  display: flex;
  justify-content: center;
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
section {
  padding: 6rem 0;
}
section.about .about-me-img {
  height: 450px;
  margin-left: 300px;
}
section.about h1 {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1.6rem;
}
section.about h1 span {
  color: var(--primary);
}
section.about h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 300;
}
section.about p {
  font-family: "Lato", sans-serif;
  color: var(--ternary);
  line-height: 1.9;
  margin-bottom: 2rem;
  text-align: justify;
}
section.about .social {
  display: flex;
}
section.about .social a {
  background: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 0.6rem;
  transition: all 0.3s ease;
}
section.about .social a img {
  width: 20px;
}
section.about .social a:hover {
  background: var(--primary);
}
@media (min-width: 768px) {
  .about-content {
    flex-direction: row;
  }

  .about-text {
    flex: 1;
    margin-right: 40px;
    margin-bottom: 0;
  }

  .about-image {
    flex: 1;
  }
}
